[Desktop Entry]
Name=Win11OS-dark
Comment=Win11OS-dark theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=com.github.yeyushengfan258.Win11OS-dark
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://github.com/yeyushengfan258/Win11OS-dark-kde
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1554625,kns://plasma-themes.knsrc/api.kde-look.org/1554634,kns://aurorae.knsrc/api.kde-look.org/1554624,kns://icons.knsrc/api.kde-look.org/1546069,kns://wallpaper.knsrc/api.kde-look.org/1554620,kns://sddmtheme.knsrc/api.kde-look.org/1554630,kns://xcursor.knsrc/api.kde-look.org/1383064
